.label {
}

.button {
}

.menu .label {
}

#towersP1{
	-fx-border-color: #FFFFFF; 
	-fx-background-radius: 50;
	-fx-border-radius: 50;
	-fx-pref-height:60px;
    -fx-pref-width:60px;
    -fx-border-width: 5px
}

#towersP2{
	-fx-border-color: #000000; 
  	-fx-background-radius: 50;
	-fx-border-radius: 50;
	-fx-pref-height:60px;
    -fx-pref-width:60px;
    -fx-border-width: 5px
}

#towersP1:hover, #towersP2:hover{
	-fx-pref-height:55px;
    -fx-pref-width:55px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 20, 0.0 , 0 , 1 );
}

#gameField{
	-fx-pref-height:80px;
    -fx-pref-width:80px;
}
#gameField:hover{
	-fx-effect: innershadow( three-pass-box , rgba(0,0,10,10) , 20, 0.0 , 0 , 1 );
}

#gameField:disabled{
	-fx-pref-height:80px;
    -fx-pref-width:80px;
    -fx-opacity: 0.4;
}